@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300italic,regular,italic,500,500italic,600italic,700,700italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Manrope:200,400,500,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*--------------------*/

.header {
  font-family: "Montserrat";
  background: #ffffff;
  width: 100%;
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-name: show__header;
          animation-name: show__header;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header__container {
  position: relative;
}

.header__container::after {
  position: absolute;
  width: 165px;
  left: 0;
  bottom: 0;
  content: "";
  border-bottom: 1px solid #fda3c4;
}

.header__container::before {
  position: absolute;
  width: 165px;
  right: 0;
  bottom: 0;
  content: "";
  border-bottom: 1px solid #fda3c4;
}

.header__body {
  width: 1140px;
  margin: 0 auto;
  padding: 15px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.header__top-img-location {
  margin-right: 7px;
  cursor: pointer;
}

.header__top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fda3c4;
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
  font-weight: bold;
}

.header__top-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__top-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-phone-icon {
  margin-right: 7px;
  cursor: pointer;
}

.header__top-logo {
  margin: 0 auto;
  cursor: pointer;
}

.header__top-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__top-search ::-webkit-input-placeholder {
  color: #1f1f1f;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-weight: bold;
}

.header__top-search ::-moz-placeholder {
  color: #1f1f1f;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-weight: bold;
}

.header__top-search :-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-weight: bold;
}

.header__top-search ::-ms-input-placeholder {
  color: #1f1f1f;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-weight: bold;
}

.header__top-search ::placeholder {
  color: #1f1f1f;
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-weight: bold;
}

.header__top-search img {
  margin-right: 16px;
}

.header__top-search input::-webkit-search-decoration,
.header__top-search input::-webkit-search-cancel-button,
.header__top-search input::-webkit-search-results-button,
.header__top-search input::-webkit-search-results-decoration {
  display: none;
}

.header__top-favorite {
  margin-right: 33px;
  cursor: pointer;
}

.header__top-shop-bag {
  cursor: pointer;
}

.header__bottom-kinds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fda3c4;
}

.header__bottom-kind {
  position: relative;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1f1f1f;
  cursor: pointer;
  padding-bottom: 15px;
}

.header__bottom-kind:hover {
  color: #fda3c4;
}

.header__bottom-kind:hover .header__bottom-kind-hover-element {
  display: block;
}

.header__bottom-kind-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom-kind-hover-element {
  display: none;
}

.header__kind-select-top {
  position: absolute;
  width: 1110px;
  display: none;
  left: -298px;
  top: 35px;
  margin: 0 auto;
  padding: 15px 15px 13px 15px;
  border-bottom: #909090 1px solid;
  border-top: 1px solid #fda3c4;
  background: #ffffff;
}

.header__kind-select-bottom {
  position: absolute;
  width: 1110px;
  display: none;
  left: -413px;
  top: 35px;
  margin: 0 auto;
  padding: 15px 15px 13px 15px;
  border-bottom: #909090 1px solid;
  border-top: 1px solid #fda3c4;
  background: #ffffff;
}

.header__kind-select-jackets {
  position: absolute;
  width: 1110px;
  display: none;
  left: -518px;
  top: 35px;
  margin: 0 auto;
  padding: 15px 15px 13px 15px;
  border-bottom: #909090 1px solid;
  border-top: 1px solid #fda3c4;
  background: #ffffff;
}

.header__kind-select-else {
  position: absolute;
  width: 1110px;
  display: none;
  left: -656px;
  top: 35px;
  margin: 0 auto;
  padding: 15px 15px 13px 15px;
  border-bottom: #909090 1px solid;
  border-top: 1px solid #fda3c4;
  background: #ffffff;
}

.header__select-kinds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__select-kind {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1f1f1f;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__select-kind:hover {
  color: #fda3c4;
  font-style: italic;
}

.header__menu {
  border-top: 1px solid #fda3c4;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
  width: 100%;
}

.header__menu-body {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-link img {
  width: 32px;
  height: 32px;
  margin-bottom: 3px;
}

.header__menu-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f1f1f;
}

@-webkit-keyframes show__header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show__header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.menu__active {
  width: 100%;
  height: 100%;
  background: #fda3c4;
  position: absolute;
  top: -66px;
  left: -100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: auto;
}

.menu__active._active {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  left: 0;
}

.menu__active-wrap {
  position: relative;
}

.menu__active-body {
  position: absolute;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 37%;
}

.menu__active-title {
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 40px;
}

.menu__active-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.menu__active-list :not(:last-child) {
  margin-bottom: 24px;
}

.menu__active-list a {
  color: #ffffff;
}

.menu__active-elements:hover {
  color: #f40000;
}

#top_active {
  background: url(../img/header/arrow_right.svg) no-repeat 46% 44%;
}

#top_active:hover {
  background: url(../img/header/arrow_right-red.svg) no-repeat 46% 44%;
}

#bottom_active {
  background: url(../img/header/arrow_right.svg) no-repeat 40% 44%;
}

#bottom_active:hover {
  background: url(../img/header/arrow_right-red.svg) no-repeat 40% 44%;
}

#jackets_active {
  background: url(../img/header/arrow_right.svg) no-repeat 64% 44%;
}

#jackets_active:hover {
  background: url(../img/header/arrow_right-red.svg) no-repeat 64% 44%;
}

#else_active {
  background: url(../img/header/arrow_right.svg) no-repeat 71% 44%;
}

#else_active:hover {
  background: url(../img/header/arrow_right-red.svg) no-repeat 71% 44%;
}

.menu__active-top {
  position: absolute;
  background: #fda3c4;
  left: 0;
  top: -66px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-top._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-bottom {
  position: absolute;
  background: #fda3c4;
  left: 0;
  top: -66px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-bottom._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-jackets {
  position: absolute;
  background: #fda3c4;
  left: 0;
  top: -66px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-jackets._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-else {
  position: absolute;
  background: #fda3c4;
  left: 0;
  top: -66px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-else._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__active-top-wrap {
  position: relative;
}

.menu__active-top-body {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 200px;
  margin: 0 37%;
}

.menu__active-top-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.menu__active-top-title .span1 {
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 20px;
  line-height: 38px;
  color: #f40000;
}

.menu__active-top-title .span2 {
  font-style: normal;
  font-weight: normal;
  margin: 0 16px;
  font-size: 24px;
  line-height: 29px;
}

.menu__active-top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__active-top-list :not(:last-child) {
  margin-bottom: 24px;
}

.menu__active-top-element {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu__active-top-element:hover {
  color: #f40000;
}

.span__close {
  position: absolute;
  top: 108px;
  right: 19px;
}

.novinki__h1 {
  position: relative;
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 54px;
  line-height: 103px;
  color: #fda3c4;
}

.novinki__h1::before {
  width: 65px;
  height: 15px;
  content: "";
  position: absolute;
  background: url(../img/default/Vector.svg) no-repeat;
  left: 157px;
  bottom: 10px;
}

.novinki__h1::after {
  position: absolute;
  content: "НОВИНКИ";
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1f1f1f;
  left: 0;
  bottom: 0;
}

.novinki__h2 {
  position: relative;
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 36px;
  line-height: 69px;
  color: #fda3c4;
}

.novinki__h2::before {
  width: 65px;
  height: 15px;
  content: "";
  position: absolute;
  background: url(../img/default/Vector2.svg) no-repeat;
  left: 98px;
  bottom: 1px;
}

.novinki__h2::after {
  position: absolute;
  content: "НОВИНКИ";
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1f1f1f;
  left: 0;
  bottom: 0;
}

.novinki__h3 {
  position: relative;
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 26px;
  line-height: 50px;
  color: #fda3c4;
}

.novinki__h3::before {
  width: 65px;
  height: 15px;
  content: "";
  position: absolute;
  background: url(../img/default/Vector3.svg) no-repeat;
  left: 82px;
  bottom: -4px;
}

.novinki__h3::after {
  position: absolute;
  content: "НОВИНКИ";
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #1f1f1f;
  left: 0;
  bottom: 0;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

/*
   <div class="show-all-btn-default">
      <img src="img/default/showall-def.svg" alt="showall">
   </div>
   <div class="show-all-btn-click">
      <img src="img/default/showall-click.svg" alt="showall">
   </div>
   <div class="show-all-btn-disable">
      <img src="img/default/showall-disable.svg" alt="showall">
   </div>
*/

.qwe {
  width: 400px;
  height: 400px;
  background: #0e0e0e;
  border: 20px solid #0a0a0a;
  -webkit-box-shadow: 0.3px 0.3px 0.5px white;
          box-shadow: 0.3px 0.3px 0.5px white;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 320px) {
  .header__container::after {
    display: none;
  }

  .header__container::before {
    display: none;
  }

  .header__body {
    width: 100%;
    border-bottom: 1px solid #fda3c4;
  }

  .header__top-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }

  .header__top-location {
    display: none;
  }

  .header__top-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }

  .header__top-options {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__top-search img {
    margin-right: 0;
  }

  .header__top-search input {
    display: none;
  }

  .header__top-favorite {
    display: none;
  }

  .header__top-shop-bag {
    display: none;
  }

  .header__bottom-kinds {
    display: none;
  }
}

@media (min-width: 568px) {
  .header__top-search img {
    margin-right: 16px;
  }

  .header__top-search input {
    width: 60px;
    display: block;
  }
}

@media (min-width: 768px) {
  .header__container::after {
    display: block;
  }

  .header__container::before {
    display: block;
  }

  .header__body {
    width: 770px;
    border-bottom: none;
  }

  .header__top-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__top-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__top-logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
  }

  .header__top-favorite {
    display: block;
  }

  .header__top-shop-bag {
    display: block;
  }

  .header__bottom-kinds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu {
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__active {
    display: none;
  }

  .menu__active-top {
    display: none;
  }

  .menu__active-bottom {
    display: none;
  }

  .menu__active-jackets {
    display: none;
  }

  .menu__active-else {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__body {
    width: 1024px;
  }

  .header__top-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header__top-search input {
    width: 150px;
  }
}

@media (min-width: 1140px) {
  .header__body {
    width: 1140px;
  }
}

@media (max-width: 1140px) {
  .header__kind-select-top {
    width: 1000px;
    left: -267px;
  }

  .header__kind-select-bottom {
    width: 1000px;
    left: -367px;
  }

  .header__kind-select-jackets {
    width: 1000px;
    left: -456px;
  }

  .header__kind-select-else {
    width: 1000px;
    left: -578px;
  }
}

@media (max-width: 1024px) {
  .header__kind-select-top {
    width: 770px;
    left: -205px;
  }

  .header__kind-select-bottom {
    width: 770px;
    left: -270px;
  }

  .header__kind-select-jackets {
    width: 770px;
    left: -322px;
  }

  .header__kind-select-else {
    width: 770px;
    left: -411px;
  }

  .header__select-kind {
    font-size: 13px;
    line-height: 16px;
  }
}

@media (max-width: 400px) {
  .header__top-phone {
    display: none;
  }
}

@media (max-width: 386px) {
  .menu__active-body {
    margin: 0 30%;
  }

  .menu__active-top-body {
    margin: 0 30%;
  }
}
@supports (-webkit-appearance:none){
#top_active{background:url(../img/header/arrow_right.svg) no-repeat 46% 44%}
#top_active:hover{background:url(../img/header/arrow_right-red.svg) no-repeat 46% 44%}
#bottom_active{background:url(../img/header/arrow_right.svg) no-repeat 40% 44%}
#bottom_active:hover{background:url(../img/header/arrow_right-red.svg) no-repeat 40% 44%}
#jackets_active{background:url(../img/header/arrow_right.svg) no-repeat 64% 44%}
#jackets_active:hover{background:url(../img/header/arrow_right-red.svg) no-repeat 64% 44%}
#else_active{background:url(../img/header/arrow_right.svg) no-repeat 71% 44%}
#else_active:hover{background:url(../img/header/arrow_right-red.svg) no-repeat 71% 44%}
.novinki__h1::before{background:url(../img/default/Vector.svg) no-repeat}
.novinki__h2::before{background:url(../img/default/Vector2.svg) no-repeat}
.novinki__h3::before{background:url(../img/default/Vector3.svg) no-repeat}
}

 @media (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1140px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1140px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 386px){

@supports (-webkit-appearance:none){

}

}
